html{
    display: block;
    margin: auto;
    width: 60%;
    background-color: antiquewhite;
    font-size: 62.5%;
}
.menu{
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid black;
    background-color: black;
    margin: 0;
}
.menuList{
    //display: block;
    margin: 0;
}
.l1{
    display: inline-block;
    color: white;
    margin-right: 40px;
    margin-top: 6px;
    background-color: crimson;
    width: 10%;
    text-align: center;
    border: 1px solid cornsilk;
    cursor: pointer;
    margin-left: -12px;
    padding: 5px;
    font-size: 1.2rem;

}
#wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 40px 150px auto auto;
    grid-gap: 5px;
}
#header{
    border: 1px solid black;
    background-color: darkblue;
    background-image: url("img/notification1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h1{
    text-align: center;
    color: rgba(248, 60, 67, 0.76);
    margin: 10px;
    font-size: 2.6rem;
}
h2{
    text-align: center;
    font-size: 2.0rem;
}
h3{
    color: #8b3747;
    text-align: center;
    font-size: 1.7rem;
}
#detail{
    background-color: rgba(23, 155, 253, 0.71);
    border: black 1px solid;
}
label{
    margin: 10px 10px 10px 10px;
    display: block;
}
span {
    color: red;
}
#inputBox{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 170px;
    text-align: center;
    height: 30px;
    font-size: 1.75rem;
    border: black 1px solid;
}
#inputDateBox{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: center;
    height: 30px;
    font-size: 16px;
    border: black 1px solid;
}
#inputHoursBox{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 110px;
    text-align: center;
    height: 30px;
    font-size: 16px;
    border: black 1px solid;
}
#btnApply{
    width: 125px;
    height: 30px;
    background-color: darkseagreen;
    cursor: pointer;
    margin: 10px;
}
.myList{
    margin-top: 10px;
    //border: black 1px solid;
    display: block;
}
span{
    font-size: 1.75rem;
    color: #e2ff8b;
}
span.timeStamp{
    color: darkblue;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 10px;
}
span.message,span.status{
    color: #8b3747;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 10px;
    margin-right: 20px;
}
span.status{
    color: #fa3c44;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 10px;
    margin-right: 20px;
}
#last{
    background-color: black;
    width: 100%;
    min-height: 50px;
}
.foot{
    color: white;
    padding: 5px;
    list-style: none;
    font-size: 1.4rem;
}
footer{
    border: 1px solid cornsilk;
}
a{
    text-decoration: none;
    color: cornsilk;
}
a:hover{
    color: chartreuse;
}
video{
    display: block;
    margin: auto;
    border: cornsilk;
    width: 60%;
}
#time{
    display: block;
    float: right;
    color: #e2ff8b;
    font-size: 1.7rem;
    margin: 5px;
    padding: 5px;
}

